<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Inbox</title>
    
    <link rel="stylesheet" href="/staging/styles/style.css">
    <script src="https://malsup.github.com/jquery.form.js"></script>
    <script src="/staging/js/fileupload/angular-file-upload-shim.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js'></script>
    <script src="https://code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>  
    <script src="/staging/js/fileupload/angular-file-upload.js"></script>
    
    <script src='/app/app.js'></script>
    <script src='/app/home.js'></script>
    <script src='/app/profile.js'></script>
    <script src='/app/register.js'></script>
    <script src='/app/inbox.js'></script>
    <script src='/app/newMessage.js'></script>
    <script src='/app/insights.js'></script>
    <script src='/app/newInsight.js'></script>
    <script src='/app/newDream.js'></script>
    
    
  </head>

  <body ng-app="Terranga" ng-controller="InboxController" style="padding:20px" ng-init="init()">
    <h2>Inbox:</h2> 
    <button onClick="window.location='newMessage'">Compose</button>
	<hr />
	
	<div class = "section">
		<h2> Search Messages:</h2>
			<input  ng-model="searchUser" type="text" placeholder="USERID: (to be searched)"><br /> <br />
			<button ng-click="searchMessages()">Search</button>
	</div>
	
	<hr />
	    
    <div class="section">
    	<h2>Recieved</h2>
    	<br />
    	<ol>
        	<li ng-repeat="message in recieved track by $index">
        		Sender:{{message.senderID}} _____ Recipient:{{message.recipientID}} _____ Date: {{message.timestamp}}
        		 
        	</li>
       </ol>
    </div>
  
    

    
    <div class="section">
    	<h2>Sent</h2>
    	<br />
    	<ol>
        	<li ng-repeat="message in sent track by $index">
        		Sender:{{message.senderID}} _____ Recipient:{{message.recipientID}} _____ Date: {{message.timestamp}} 
        	</li>
       </ol>
    </div>
    
    <hr />
        
    <div class = "section">
		<h2> Search Chain:  {{userA}} and {{userB}} </h2>
			<input  ng-model="userA" type="text" placeholder="userA (to be searched)"><br /> <br />
			<input  ng-model="userB" type="text" placeholder="userB (to be searched)"><br /> <br />
			<button ng-click="searchThread()">Search</button>
			
	</div>
	
	<hr />
	
	<div class="section">
    	<h2>Thread</h2>
    	<br />
    	<ol>
        	<li ng-repeat="message in thread track by $index">
        		Sender:{{message.senderID}} _____ Recipient:{{message.recipientID}} _____ Date: {{message.timestamp}} 
        	</li>
       </ol>
    </div>
    
  
  </body>
  
  
  
  
  
</html>

