<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>New Review</title>
    
    <link rel="stylesheet" href="/staging/styles/style.css">
    <script src="https://malsup.github.com/jquery.form.js"></script>
    <script src="/site/js/fileupload/angular-file-upload-shim.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js'></script>
    <script src="https://code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>  
    <script src="/site/js/fileupload/angular-file-upload.js"></script>
    
    <script src='/staging/app/app.js'></script>
    <script src='/staging/app/home.js'></script>
    <script src='/staging/app/profile.js'></script>
    <script src='/staging/app/profiles.js'></script>
    <script src='/staging/app/register.js'></script>
    <script src='/staging/app/account.js'></script>
    <script src='/staging/app/admin.js'></script>
    <script src='/staging/app/newDream.js'></script>
    <script src='/staging/app/newInsight.js'></script>
    <script src='/staging/app/newEndorsement.js'></script>
    <script src='/staging/app/newReview.js'></script>
    
  </head>

  <body ng-app="Terranga" ng-controller="NewReviewController" style="padding:20px" ng-init="init()">
    <h2>Create New Review: </h2> 
    

    <div class="section">
    	<input ng-model="review.reviewed" type="text" placeholder="To Be Reviewed: (reviewed)"><br /><br />
    	<input ng-model="review.reviewedBy" type="text" placeholder="To Be Reviewed by: (reviewedBy) "><br /><br />
    	<input ng-model="review.score" type="text" placeholder="Score: (0-5)"><br /><br />
      	<textarea ng-model="review.description"  placeholder="DESCRIPTION:" rows="20" style="width:100%; padding-left:16px; padding-top:8px"></textarea>
     	<br /><br /><br />
        <button ng-click="createReview()">Create</button>     	

    </div>
    
    <br /><br />
    <br /><br />
    
  
  </body>
  
  
  
  
  
</html>