<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Manage Profile</title>
    
    <link rel="stylesheet" href="/staging/styles/style.css">
    <script src="https://malsup.github.com/jquery.form.js"></script>
    <script src="/staging/js/fileupload/angular-file-upload-shim.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js'></script>
    <script src="https://code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>  
    <script src="/staging/js/fileupload/angular-file-upload.js"></script>
    
    <script src='/app/app.js'></script>
    <script src='/app/home.js'></script>
    <script src='/app/profile.js'></script>
    <script src='/app/register.js'></script>
    <script src='/app/inbox.js'></script>
    <script src='/app/newMessage.js'></script>
    <script src='/app/insights.js'></script>
    <script src='/app/newInsight.js'></script>
    <script src='/app/newDream.js'></script>
  </head>

  <body ng-app="Terranga" ng-controller="ProfileController" style="padding:20px" ng-init="init()">
    <h2>Create A Profile</h2>
    
    
    <div class="section">
      <h2 style="margin-top:0px">Manage Profile</h2>
      <input ng-model="newUser.firstName" type="text" placeholder="First Name"><br /><br />
      <input ng-model="newUser.lastName" type="text" placeholder="Last Name"><br /><br />
      <input ng-model="newUser.email" type="text" placeholder="Email"><br /><br />
      <input ng-model="newUser.password" type="password" placeholder="Password"><br /><br />
      <input ng-model="newUser.city" type="text" placeholder="City"><br /><br />
      <input ng-model="newUser.country" type="text" placeholder="Country"><br /><br />
      <input ng-model="newUser.homeCity" type="text" placeholder="Home City"><br /><br />
      <input ng-model="newUser.homeCountry" type="text" placeholder="Home Country"><br /><br />
      <input ng-model="newUser.age" type="text" placeholder="Age"><br /><br />
      <input ng-model="newUser.phone" type="text" placeholder="Phone"><br /><br />
      <input ng-model="language1" type="text" placeholder="Lanuage"><br /><br />
      <input ng-model="language2" type="text" placeholder="Lanuage"><br /><br />
      <input ng-model="language3" type="text" placeholder="Language"><br /><br />
      <input ng-model="newUser.points" type="text" placeholder="Points"><br /><br />
      <input ng-model="newUser.profession" type="text" placeholder="Profession"><br /><br />
      <input ng-model="newUser.endorsementID" type="text" placeholder="EndorsementID"><br /><br />

      <textarea style="width:100%;height:120px" ng-model="currentUser.bio" placeholder="Bio"></textarea><br /><br />
      

      
      <br /><br />
      
      <button ng-click="createProfile()">Create Profile</button><br /><br />
      
    </div>
    


    
	
	
  </body>
  
  
  
  
  
</html>
