<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Terranga</title>
    
    <link rel="stylesheet" href="/staging/styles/style.css">
    <link rel="stylesheet" href="/site/styles/bootstrap.min.css">
    
    <script src="/site/js/jquery.js"></script>
    
    <script src="https://malsup.github.com/jquery.form.js"></script>
    <script src="/site/js/fileupload/angular-file-upload-shim.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js'></script>
    <script src="https://code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>  
    <script src="/site/js/fileupload/angular-file-upload.js"></script>
    
    <script src='/staging/app/app.js'></script>
    <script src='/staging/app/home.js'></script>
    <script src='/staging/app/profile.js'></script>
    <script src='/staging/app/profiles.js'></script>
    <script src='/staging/app/register.js'></script>
    <script src='/staging/app/account.js'></script>
    
  </head>

  <body ng-app="Terranga" ng-controller="ProfilesController" style="padding:20px" ng-init="init()">
  
 <!-- Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="width:60%" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border:none">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <div class="social" style="text-align:center">
            <img style="width:160px" src="/site/img/logo-dark.png" alt=""><br /><br />
            <img style="width:84px;border-radius:42px;border:1px solid #ddd" src="/site/images/{{ selectedProfile.image }}?crop=256" />
            <h4 style="font-size:18px">{{ capitalize(selectedProfile.firstName) }} {{ capitalize(selectedProfile.lastName) }}</h4>
            <input ng-model="selectedProfile.city" type="text" style="width:40%;margin-left:auto;margin-right:auto" class="form-control" placeholder="City" /><br />
            <input ng-model="selectedProfile.country" type="text" style="width:40%;margin-left:auto;margin-right:auto" class="form-control" placeholder="Country" /><br />
            <select ng-model="selectedProfile.age" style="width:40%;margin-left:auto;margin-right:auto" class="form-control">
              <option ng-repeat="age in ageArray track by $index" value="{{ age }}">{{ age }} years old</option>
            </select>
            
            <br />
            <hr /><br />
			<div>
                  	<table style="margin-left:auto;margin-right:auto">
                  		<thead>
                  			<tr style="text-align:center">
                  				<td style="border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;background:#f9f9f9">
                  					<h5>BIO</h5>
                  				</td>
                  				<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  				<td style="border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;background:#f9f9f9">
                  					<h5>DREAM</h5>
                  				</td>
                  			</tr>
                  		</thead>
                  		<tbody>
                  			<tr style="text-align:center;font-weight:500;font-size:15px">
                  				<td style="vertical-align:text-top;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;padding:20px 20px 0px 20px;width:300px;background:#f9f9f9;font-weight:500">
                  				  <textarea ng-model="selectedProfile.bio" style="width:100%;border:none;min-height:240px"></textarea><br/><br/>
                  				</td>
                  				<td></td>
                  				<td style="vertical-align:text-top;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;padding:20px 20px 0px 20px;width:300px;background:#f9f9f9;font-weight:500">
                  				  <textarea ng-model="selectedProfile.dream" style="width:100%;border:none;min-height:240px"></textarea><br/><br/>
	                  			</td>
                  			</tr>
                  		</tbody>
                  	</table>             	
                  </div>
            <br/>
          </div>
      </div>
      
        <div style="width:100%;text-align:center;padding:40px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;background:#ddd">
          <a ng-click="updateSelectedProfile()" style="color:#000;background-color:red;padding:16px;border:1px solid #ddd;">Update</a>
        </div>
      
    </div>
  </div>
</div>			
  
  
  
    <h2>PROFILE</h2>
    
    
    <div class="section" style="background:#f1f9f5;width:60%">
      
      <table class="table table-striped">
        <thead>
          <tr>
            <td><strong>Name</strong></td>
            <td><strong>Email</strong></td>
            <td><strong>Featured</strong></td>
            <td><strong>City</strong></td>
            <td><strong>Country</strong></td>
            <td><strong>Age</strong></td>
          </tr>
        
        </thead>
      
        <tbody>
          <tr ng-repeat="profile in featuredProfiles track by $index">
            <td><a ng-click="viewProfile($index)" data-toggle="modal" data-target="#profileModal" href="">{{ profile.firstName }} {{ profile.lastName }}</a></td>
            <td>{{ profile.email }}</td>
            <td>{{ profile.isFeatured }}</td>
            <td>{{ profile.city }}</td>
            <td>{{ profile.country }}</td>
            <td>{{ profile.age }}</td>
          </tr>

        </tbody>
      
      
      </table>
      
      
      
      
      
    </div>
    

    <script src="/site/scripts/vendor/queryloader2.min.js"></script>
    <script src="/site/scripts/vendor/owl.carousel.js"></script>
    <script src="/site/scripts/vendor/jquery.ba-cond.min.js"></script>
    <script src="/site/scripts/vendor/jquery.slitslider.js"></script>
    <script src="/site/scripts/vendor/idangerous.swiper.js"></script>
    <script src="/site/scripts/vendor/jquery.fitvids.js"></script>
    <script src="/site/scripts/vendor/jquery.countTo.js"></script>
    <script src="/site/scripts/vendor/TweenMax.min.js"></script>
    <script src="/site/scripts/vendor/ScrollToPlugin.min.js"></script>
    <script src="/site/scripts/vendor/jquery.scrollmagic.min.js"></script>
    <script src="/site/scripts/vendor/jquery.easypiechart.js"></script>
    <script src="/site/scripts/vendor/jquery.validate.js"></script>
    <script src="/site/scripts/vendor/wow.min.js"></script>
    <script src="/site/scripts/vendor/jquery.placeholder.js"></script>
    <script src="/site/scripts/vendor/jquery.easing.1.3.min.js"></script>
    <script src="/site/scripts/vendor/jquery.waitforimages.min.js"></script>
    <script src="/site/scripts/vendor/jquery.prettyPhoto.js"></script>
    <script src="/site/scripts/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="/site/scripts/vendor/isotope.pkgd.min.js"></script>
    <script src="/site/scripts/vendor/jquery.fillparent.min.js"></script>
    <script src="/site/scripts/vendor/raphael-min.js"></script>
    <script src="/site/scripts/vendor/bootstrap.js"></script>
    <script src="/site/scripts/vendor/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/site/scripts/vendor/bootstrap-slider.js"></script>
    <script src="/site/scripts/vendor/bootstrap-rating-input.js"></script>
    <script src="/site/scripts/vendor/bootstrap-hover-dropdown.min.js"></script>
    <script src="/site/scripts/jquery.gmap.min.js"></script>
    <script src="/site/scripts/circle_diagram.js"></script>
    <script src="/site/scripts/main.js"></script>

    
	
	
  </body>
  
  
  
  
  
</html>
