<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- TEST COMMIT COMMENT -->
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Terranga</title>
    
    <link rel="stylesheet" href="/staging/styles/style.css">
    <script src="https://malsup.github.com/jquery.form.js"></script>
    <script src="/site/js/fileupload/angular-file-upload-shim.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js'></script>
    <script src="https://code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>  
    <script src="/site/js/fileupload/angular-file-upload.js"></script>
    
    <script src='/staging/app/app.js'></script>
    <script src='/staging/app/account.js'></script>
    <script src='/staging/app/admin.js'></script>
    <script src='/staging/app/home.js'></script>
    <script src='/staging/app/newDream.js'></script>
    <script src='/staging/app/newEndorsement.js'></script>
    <script src='/staging/app/newInsight.js'></script>
    <script src='/staging/app/newReview.js'></script>
    <script src='/staging/app/profile.js'></script>
    <script src='/staging/app/profiles.js'></script>
    <script src='/staging/app/register.js'></script>
    <script src='/staging/app/stripe.js'></script>
    
  <script src="https://checkout.stripe.com/checkout.js"></script>
    
    
  </head>

  <body ng-app="Terranga" ng-controller="StripeController" style="padding:20px" ng-init="init()">
    <h2>Terranga: Stripe</h2>

    <div class="section">
      <h2 style="margin-top:0px">Menu</h2>
      
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/staging/about">About</a></li>
        <li><a href="/staging/profiles">Featured Profiles</a></li>
        <li><a href="/staging/register">Join Us</a></li>
      </ol>
      
    </div>
    
    <br /><br />
    
    
    <div class="section" ng-show="currentUser.loggedIn == 'no'">
      <h2 style="margin-top:0px">Log In</h2>
      <input ng-model="currentUser.email" type="text" placeholder="Email"><br /><br />
      <input ng-model="currentUser.password" type="password" placeholder="Password"><br /><br />
      <button ng-click="login()">Log In</button>
    </div>
    
    <br /><br />

    <div class="section" ng-show="currentUser.loggedIn == 'yes'">
      <h2 style="margin-top:0px">Profile</h2>
	  <div>
	    You Don't Have a Card Yet.<br /><br />
	    <button style="width:160px" class="btn-green" id="stripeButton">+ Add Card</button>
	    <br /><br />
	  </div>
    </div>
    
    <br /><br />
    
	<script src="/site/js/stripeHandler.js"></script>
  </body>
  
  
  
</html>
