<!DOCTYPE html>
<html class="no-js">
  {{ head }}
  
  
  <body ng-app="Terranga" ng-controller="ProfileController" ng-init="init()">
    <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page">
      {{ nav }}
      <!-- Start header Section-->
      <section style="background-image: url('img/slides/slide6.jpg');" class="header-section fading-title parallax">
        <div class="section-shade sep-top-3x sep-bottom-2x">
          <div class="container">
            <div class="section-title upper text-center">
              <h2 class="light small-space">Edit your&nbsp;<span class="text-primary">Profile</span></h2>
              <p class="lead light">Press update to save changes.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- End header Section-->
      
      
      <!-- Start Contact section-->
      <section style="background-color:#f9f9f9" class="sep-top-2x sep-bottom-2x">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="section-title text-center">
                <h3>Manage Profile</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="contact-form sep-top-sm">
                
                  <div class="row">
                    <div class="col-md-4 sep-top-xs">
                        <label class="upper">First Name</label>
                        <input ng-model="currentUser.firstName" type="text" placeholder="First name" class="form-control input-lg">
                    </div>
                    <div class="col-md-4 sep-top-xs">
                        <label class="upper">Last Name</label>
                        <input ng-model="currentUser.lastName" type="text" placeholder="Last name" class="form-control input-lg">
                    </div>
                    <div class="col-md-4 sep-top-xs">
                        <label class="upper">Age</label>
                        <select class="form-control input-lg" ng-model="currentUser.age" >
                        	<option ng-repeat="age in ages track by $index" value= "{{ age }}" >{{ age }}</option>
                        </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 sep-top-xs">
                        <label class="upper">City</label>
                        <input ng-model="currentUser.city" type="text" placeholder="City" class="form-control input-lg">
                    </div>
                    <div class="col-md-4 sep-top-xs">
                        <label class="upper">Country</label>
                        <select class="form-control input-lg" ng-model="currentUser.country" >
                        	<option ng-repeat="country in countries track by $index" value= "{{ country }}" >{{ country }}</option>
                        </select>
                    </div>
                    <div class="col-md-4 sep-top-xs">
                        <label class="upper">Phone</label>
                        <input ng-model="currentUser.phone" type="text" placeholder="Phone" class="form-control input-lg">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 sep-top-xs">
                        <label class="upper">Email</label>
                        <input ng-model="currentUser.email" type="text" placeholder="Email" class="form-control input-lg">
                    </div>
                    <div class="col-md-6 sep-top-xs">
                        <label class="upper">Password</label>
                        <input ng-model="currentUser.password" type="password" placeholder="Password" class="form-control input-lg">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 sep-top-xs">
                        <label class="upper">Bio</label>
                        <textarea ng-model="currentUser.bio" placeholder="Bio" rows="6" class="form-control input-lg"></textarea>
                    </div>
                    <div class="col-md-6 sep-top-xs">
                        <label class="upper">Dream</label>
                        <textarea placeholder="Dream" rows="6" class="form-control input-lg"></textarea>
                    </div>
                  </div>
                  
                  
                  <div class="row">
                  	<div class="col-md-12 sep-top-lg">
                  		<div ng-file-drop="onFileSelect($files, 'image', 'currentUser')" style="margin-left:auto;margin-right:auto;padding:16px;background:white;border:1px solid #ddd; height: 100px; width:50%">
                  			<img align="left" style="width:64px;margin-right:16px" src='/site/images/{{ currentUser.image }}?crop=256'/>
                  			To set your image, drag and drop image file here.
        					<h6 style="margin-top:0px">IMAGE</h4>
                  		</div>
                  	</div>
                  </div>
                  
                  
                  <div class="row">
                    <div class="col-md-12 sep-top-lg">
                      <div class="form-group text-center">
                        <button ng-click="updateCurrentUser()" class="btn btn-primary">UPDATE</button>
                      </div>
                    </div>  
                  </div>
                        
                
              </div>
            </div>
          </div>
       
        </div>
      </section>
      <!-- End Contact section-->
     
      {{ footer }}
      
    {{ scripts }}
  </body>
</html>