<!DOCTYPE html>
<html class="no-js">
  {{ head }}
  
  
  <body>
<!-- Message Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="width:60%" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border:none">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div style="background:rgba(249, 249, 249, 0.96);border:1px solid #ddd;padding:0px;min-height:500px;">
            <div style="text-align:center;">
              <br/>
              	<h4 style="margin-top:0px">Messages</h4>
            </div>
            <br/>
			<div style="height:400px;width:90%;background:rgba(0,179,255,0.2);margin-left:auto;margin-right:auto;">
			
				<div id="messages" style="overflow:auto;position:relative;top:5%;background:rgba(255,255,255,.8);height:300px;width:95%;margin-left:auto;margin-right:auto;">
					<p ng-repeat="message in messages track by $index" style="margin-left:1%">
						<span ng-if="message.senderID==currentUser.id" style="color:#1abc9c;font-weight:100;font-size:12px">{{ capitalize(currentUser.firstName) }}</span>
						<span ng-if="message.senderID==profile.id" style="color:#1abc9c;font-weight:100;font-size:12px">{{ capitalize(profile.firstName) }}</span>
						<span style="color:#1abc9c;font-weight:100;font-size:12px"> | {{ formattedDate(message.timestamp) }}</span><br/>
						{{ message.body }}
					</p>
				</div>
			
				<div style="position:relative;top:13%;height:40px;">
					<input ng-model="newMessage.body" type="text" placeholder=" Type here" style="margin-left:1%;height:40px;width:82%"/>
					<button ng-click="sendMessage()" style="margin-right:1%;width:15%;height:40px;float:right;">Send</button>
				</div>
			
			</div>
          </div>
      </div>
    </div>
  </div>
</div>			


    
    <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div class="page">
      {{ nav }}
      <!-- Start header Section-->
      <section style="background-image: url('/site/img/slides/slide2.jpg');" class="header-section fading-title parallax">
        <div class="section-shade sep-top-2x" style="padding-bottom:1.5em">
          <div class="container">
            <div class="section-title upper text-center">
              <h2 class="light small-space">Jake&nbsp;<span class="text-primary">G</span></h2>
              <img style="width:160px;border-radius:80px;border:2px solid #ddd;" src='/site/img/sara.jpg'/><br /><br />
              <p class="lead light">Montvale, NJ</p>
              <p class="lead light">Languages: English</p>
              <div style="width:400px;margin-left:auto;margin-right:auto;text-wrap:normal">
              	<p class="lead light">Hi I'm Jake and I'm a software developer. This is my bio. It's on the long side but it's okay.Hi I'm Jake and I'm a software developer. This is my bio. It's on the long side but it's okay.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End header Section-->
      
      
      <!-- Start Contact section-->
		<div class="container" style="padding-top:20px;background-image:url('/site/img/slides/slide8_fade.jpg');width:100%;min-height:800px">
          <div class="col-md-4" style="background:rgba(249, 249, 249, 0.96);border:1px solid #ddd;padding:0px;min-height:500px;">
            <div style="text-align:center;">
              <br/>
              	<h4 style="margin-top:0px"><a data-toggle="modal" data-target="#profileModal">Messages</a></h4>
            </div>
            <br/>
          </div>
            
            
            
            <div class="col-md-8" style="background-size:cover;padding-left:0px">
              
                <div style="width:90%;height:90%;background:rgba(255, 255, 255, 0.96);margin-left:auto;margin-right:auto;">
                  <div style="height:80px;background:#f1f1f1;text-align:center;padding-top:18px;border:1px solid #ddd">
                    <h4 style="color:#444">Meet Jake</h4>
                  </div>
                  <br />
                  <div>
                  	<table style="margin-left:auto;margin-right:auto">
                  		<thead>
                  			<tr style="text-align:center">
                  				<td>
                  					<h5>Bio</h5>
                  				</td>
                  				<td>
                  					<h5>Dream</h5>
                  				</td>
                  				<td>
                  					<h5>Insights</h5>
                  				</td>
                  			</tr>
                  		</thead>
                  		<tbody>
                  			<tr style="text-align:center;">
                  				<td>
                  					<img style="height:64px;border-radius:32px;border:1px solid #ddd"src="/site/img/child.png"/>
                  				</td>
                  				<td>
                  					<img style="height:64px;border-radius:32px;border:1px solid #ddd"src="/site/img/star.png"/>
	                  			</td>
	                  			<td>
                  					<img style="height:64px;border-radius:32px;border:1px solid #ddd"src="/site/img/lightbulb.png"/>
	                  			</td>
                  			</tr>
                  			<tr style="text-align:center;font-weight:500;font-size:15px">
                  				<td style="vertical-align:text-top;padding:20px 20px 0px 20px;width:300px">
	                  				<p>My Bio</p>
                  				</td>
                  				<td style="vertical-align:text-top;padding:20px 20px 0px 20px;width:300px">
		                  			<p>My dream</p>
	                  			</td>
	                  			<td style="vertical-align:text-top;padding:20px 20px 0px 20px;width:300px">
		                  			<p>Insights go here.</p>
	                  			</td>
                  			</tr>
                  		</tbody>
                  	</table>             	
                  </div>
                  
                  <br /><br /><br />

                
                </div>
            </div>
            </div>
            
       
      <!-- End Contact section-->
     
      {{ footer }}

            </div>
      
    {{ scripts }}
  </body>
</html>