<!DOCTYPE html>
<html class="no-js">
  <head>
    {{ head }}
    
  </head>
  
  
  
  
  <body ng-app="Terranga" ng-controller="ProfilesController" ng-init="init()">
  
 <!-- Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="width:60%" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border:none">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <div class="social" style="text-align:center">
            <img style="width:160px" src="/site/img/logo-dark.png" alt=""><br /><br />
            <img style="width:84px;border-radius:42px;border:1px solid #ddd" src="/site/images/{{ selectedProfile.image }}?crop=256" />
            <h4 style="font-size:18px">{{ capitalize(selectedProfile.firstName) }} {{ lastInitial(selectedProfile.lastName) }}, {{ selectedProfile.age }}</h4>
            {{ capitalize(selectedProfile.city) }}, {{ capitalize(selectedProfile.country) }}
            <hr /><br />
			<div>
                  	<table style="margin-left:auto;margin-right:auto">
                  		<thead>
                  			<tr style="text-align:center">
                  				<td style="border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;background:#f9f9f9">
                  					<h5>Bio</h5>
                  				</td>
                  				<td>&nbsp&nbsp&nbsp&nbsp</td>
                  				<td style="border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;background:#f9f9f9">
                  					<h5>Dream</h5>
                  				</td>
                  				<td>&nbsp&nbsp&nbsp&nbsp</td>
                  				<td style="border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;background:#f9f9f9">
                  					<h5>Insights</h5>
                  				</td>
                  			</tr>
                  		</thead>
                  		<tbody>
                  			<tr style="text-align:center;">
                  				<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;background:#f9f9f9">
                  					<img style="height:64px;border-radius:32px;border:1px solid #ddd"src="/site/img/child.png"/>
                  				</td>
                  				<td></td>
                  				<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;background:#f9f9f9">
                  					<img style="height:64px;border-radius:32px;border:1px solid #ddd"src="/site/img/star.png"/>
	                  			</td>
	                  			<td></td>
	                  			<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;background:#f9f9f9">
                  					<img style="height:64px;border-radius:32px;border:1px solid #ddd"src="/site/img/lightbulb.png"/>
	                  			</td>
                  			</tr>
                  			<tr style="text-align:center;font-weight:500;font-size:15px">
                  				<td style="vertical-align:text-top;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;padding:20px 20px 0px 20px;width:300px;background:#f9f9f9;font-weight:500">
	                  				<p>{{ selectedProfile.bio }}</p><br/>
                  				</td>
                  				<td></td>
                  				<td style="vertical-align:text-top;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;padding:20px 20px 0px 20px;width:300px;background:#f9f9f9;font-weight:500">
		                  			<p>{{ selectedProfile.dream }}</p><br/>
	                  			</td>
	                  			<td>     </td>
	                  			<td style="vertical-align:text-top;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;padding:20px 20px 0px 20px;width:300px;background:#f9f9f9;font-weight:500">
		                  			<p>Insights go here.</p><br/>
	                  			</td>
                  			</tr>
                  		</tbody>
                  	</table>             	
                  </div>
            <br/>
          </div>
      </div>
      
        <div style="width:100%;text-align:center;padding:40px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;background:#ddd">
          <a style="color:#fff" class="btn btn-lg" href="/site/profile/{{ selectedProfile.id }}">View Full Profile</a>
        </div>
      
    </div>
  </div>
</div>			
  
  
    <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page">
    
    
      <!-- Start Nav Section-->
      {{ nav }}
      
      
          <div class="row">
            <div class="col-md-4" style="background:#fff;border-right:1px solid #ddd;min-height:760px;background:#f9f9f9;">
              <h4 class="sep-top-md" style="margin-left:36px;color:#444">Featured</h4>
              <div ng-if="featuredProfiles[0]!=null" style="padding:36px 36px 36px 48px">
                <img align="left" style="height:120px;width:120px;border:2px solid #ddd;border-radius:60px;margin-right:10px;"src="/site/images/{{ featuredProfiles[0].image }}?crop=256"/>
                <p style="margin-left:100px;padding-right:10px;font-weight:100">
                  <em>
                    "{{ truncatedText(featuredProfiles[0].dream,150) }}"
                    <br/>
                  </em>
                </p>
                <h5 style="float:right">- {{ capitalize(featuredProfiles[0].firstName) }} <span style="color:#43AEC6;">{{ lastInitial(featuredProfiles[0].lastName) }}.</span></h5>
                <br /><br /><br /><hr/><br />
              </div>
              <div ng-if="featuredProfiles[1]!=null" style="padding:10px 36px 36px 48px">
                <img align="left" style="height:120px;width:120px;border:2px solid #ddd;border-radius:60px;margin-right:10px;"src="/site/images/{{ featuredProfiles[1].image }}?crop=256"/>
                <p style="margin-left:100px;padding-right:10px;font-weight:100">
                  <em>
                    "{{ truncatedText(featuredProfiles[1].dream,150) }}"
                    <br/>
                  </em>
                </p>
                <h5 style="float:right">- {{ capitalize(featuredProfiles[1].firstName) }} <span style="color:#43AEC6;">{{ lastInitial(featuredProfiles[1].lastName) }}.</span></h5>
                <br /><br /><br /><hr/><br />
              </div>
              <div ng-if="featuredProfiles[2]!=null" style="padding:10px 36px 36px 48px">
                <img align="left" style="height:120px;width:120px;border:2px solid #ddd;border-radius:60px;margin-right:10px;"src="/site/images/{{ featuredProfiles[2].image }}?crop=256"/>
                <p style="margin-left:100px;padding-right:10px;font-weight:100">
                  <em>
                    "{{ truncatedText(featuredProfiles[2].dream,150) }}"
                    <br/>
                  </em>
                </p>
                <h5 style="float:right">- {{ capitalize(featuredProfiles[2].firstName) }} <span style="color:#43AEC6;">{{ lastInitial(featuredProfiles[2].lastName) }}.</span></h5>
                <br /><br /><br /><hr/><br />
              </div>
            </div>     
            
            <div class="col-md-8" style="background-size:cover;background-image:url('/site/img/slides/slide3.jpg');padding-left:0px">
              <div class="screen">
              
                <div style="width:90%;height:90%;background:rgba(255, 255, 255, 0.97);margin-left:auto;margin-right:auto;">
                  <div style="height:80px;background:#f1f1f1;text-align:center;padding-top:18px;border-bottom:1px solid #ddd">
                    <h4 style="color:#444">Meet the Terranga Community in <span style="color:#43AEC6;">Colombia!</span></h4>
                  </div>
                  
                  <br />
                  
                  <div class="profileBox" ng-repeat="profile in featuredProfiles track by $index">
                    <a ng-click="viewProfile($index)" data-toggle="modal" data-target="#profileModal" href="">
                      <img src="/site/images/{{ profile.image }}?crop=256" />
                      {{ capitalize(profile.firstName) }} {{ lastInitial(profile.lastName) }}., {{ profile.age }}
					</a>                    
                  </div>                  
                  <br /><br /><br />

                
                </div>
              
              </div>
            </div>
            
          </div>
      
      
      <!-- Start Footer section-->
      {{ footer }}
      
      
      
    </div>
    
    {{ scripts }}
    
    
  </body>
</html>