<!DOCTYPE html>
<html class="no-js">
  <head>
	{{ head }}
	
	<script src="https://checkout.stripe.com/checkout.js"></script>
	
  </head>
  
  
  <body ng-app="Terranga" ng-controller="ProfileController" ng-init="init()">
  
<!-- Message Modal -->
<div ng-if="currentUser.loggedIn!='no'" class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="width:60%" class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><span style="margin-right:5px;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div style="background:rgba(249, 249, 249, 0.96);border:1px solid #ddd;padding:0px;min-height:500px;">
          <div style="text-align:center;">
            <br/>
            	<h4 style="margin-top:0px">Don&#39;t be shy, say hi!</h4>
          </div>
          <br/>
		<div style="height:400px;width:90%;background:rgba(0,179,255,0.2);margin-left:auto;margin-right:auto;">
	
		<div id="messages" style="overflow:auto;position:relative;top:5%;background:rgba(255,255,255,.8);height:300px;width:95%;margin-left:auto;margin-right:auto;">
			<p ng-repeat="message in messages track by $index" style="margin-left:1%">
				<span ng-if="message.profile == currentUser.id" style="color:#1abc9c;font-weight:100;font-size:12px">{{ capitalize(currentUser.firstName) }}</span>
				<span ng-if="message.profile == profile.id" style="color:#1abc9c;font-weight:100;font-size:12px">{{ capitalize(profile.firstName) }}</span>
				<span style="color:#1abc9c;font-weight:100;font-size:12px"> | {{ formattedDate(message.timestamp) }}</span><br/>
				{{ message.content }}
			</p>
		</div>
	
		<div style="position:relative;top:13%;height:40px;">
			<input ng-model="newMessage.content" type="text" placeholder=" Type here" style="margin-left:1%;height:40px;width:82%"/>
			<button ng-click="sendMessage()" style="margin-right:1%;width:15%;height:40px;float:right;">Send</button>
		</div>
	
	</div>
        </div>
    </div>
  </div>
</div>			

<!-- Insights Modal -->
<div class="modal fade" id="insightModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="width:40%" class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><span style="margin-right:5px;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div style="background:rgba(249, 249, 249, 0.96);border:1px solid #ddd;padding:0px;min-height:400px;">
          <div style="text-align:center;">
            <br/>
            	<h4 style="margin-top:0px">Let's</h4>
          </div>
          <br/>
		<div style="height:300px;width:90%;background:rgba(0,179,255,0.2);margin-left:auto;margin-right:auto;">
			<a> 
      <button ng-click="viewInsight( ($index!=reviewers.length) ? ($index=$index+1) : ($index=0) )" class="close" style="float:right;margin-top:25%;margin-right:15px">></button>
			</a>
      <div style="text-align:center;overflow:auto;position:relative;top:5%;background:url(/site/img/insights/tiles/{{ selectedInsight.categoryTag }}.jpg);height:50px;width:85%;margin-left:auto;margin-right:1.8%;">
				<h5 style="margin-top:15px;font-family:Roboto;color:white">
					{{ selectedInsight.description }}
				</h5>
			</div>
			<div style="margin-top:15px;text-align:center;position:relative;top:5%;background:rgba(255,255,255,.8);height:160px;width:85%;margin-left:auto;margin-right:auto;">
				<div style="padding-top:5%;overflow:auto;height:95%;width:65%;text-align:center;margin-left:auto;margin-right:auto;">
					<h6 style="font-family:Roboto">
						{{ selectedInsight.longDescription }}
					</h6>
				</div>
			</div>
			<div style="margin-top:25px;margin-left:auto;margin-right:auto;text-align:center">
				<button type="button" class="btn btn-primary btn-bordered" data-dismiss="modal" data-toggle="modal" data-target="#messageModal" style="margin-left:auto;margin-right:auto;height:40px;">Chat</button>
			</div>
	</div>
   </div>
  </div>
 </div>
</div>			


<!-- Dream Modal -->
<div class="modal fade" id="dreamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="width:40%" class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><span style="margin-right:5px;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div style="background:rgba(249, 249, 249, 0.96);border:1px solid #ddd;padding:0px;min-height:500px;">
          <div style="text-align:center;">
            <br/>
            	<h4 style="margin-top:0px">My Goal is to</h4>
          </div>
          <br/>
		<div style="height:400px;width:90%;background:rgba(0,179,255,0.2);margin-left:auto;margin-right:auto;">
			<button class="close" style="float:right;margin-top:25%;margin-right:15px">></button>
			<div style="text-align:center;overflow:auto;position:relative;top:6%;background:url(/site/img/insights/tiles/{{ selectedDream.title }}.jpg);width:85%;margin-left:auto;margin-right:1.8%;">
				<h5 style="font-family:Roboto;color:white;font-weight:500">
					{{ selectedDream.description }}
				</h5>
			</div>
			<div style="margin-top:15px;text-align:center;position:relative;top:5%;background:rgba(255,255,255,.8);height:160px;width:85%;margin-left:auto;margin-right:auto;">
				<div style="padding-top:2%;width:65%;text-align:center;margin-left:auto;margin-right:auto;">
					<h6 style="font-family:Roboto">
						{{ selectedDream.longDescription }}
					</h6>
				</div>
			</div>
			<div class="sep-top-xs" style="margin-top:25px;margin-left:auto;margin-right:auto;text-align:center;width:80%">
				<div class="progress minimal" style="border: 2px solid #999;">
	               <div role="progressbar" aria-valuenow="{{ selectedDream.fundraisingCurrent }}" aria-valuemin="0" aria-valuemax="{{ selectedDream.fundraisingGoal }}" style="width:70%;" class="progress-bar">${{ selectedDream.fundraisingCurrent }} closer to my goal</div>
	            </div>
	        <span class="indicator-line"></span><span class="pull-left">$0</span><span style="position: absolute;left: 0;right: 0;text-align: center;">{{ selectedDream.numContributers }} people contributed</span><span class="pull-right">${{ selectedDream.fundraisingGoal }}</span>
			<button type="button" id="stripeButton" class="btn btn-primary btn-bordered" data-dismiss="modal" style="margin-top:40px;margin-left:auto;margin-right:auto;height:40px;">Contribute</button>
			</div>
		</div>
	   </div>
	  </div>
	 </div>
	</div>		

<!-- Review Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="width:60%" class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><span style="margin-right:5px;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div style="background:rgba(249, 249, 249, 0.96);border:1px solid #ddd;padding:0px;min-height:500px;">
          <div style="text-align:center;">
            <br/>
            <h4 style="margin-top:0px;margin-bottom:15px;">Gratitude Notes</h4>
          </div>
		<div style="overflow:scroll;height:400px;width:90%;background:rgba(0, 179, 255, 0.2);margin-left:auto;margin-right:auto;">
			<div ng-repeat="review in profile.reviews track by $index">
				<div class="row" style="width:95%;padding-top:20px;padding-left:10px">
	           		<div class="col-md-4" style="padding-right:0px">
	            		<a href="profile/{{ reviewers[$index].id }}"><img style="height:110px;width:110px;border:1px solid #ddd;border-radius:55px"src="images/{{ reviewers[$index].image }}?crop=256"/></a>
	            		<p style="margin-top:5px;margin-left:35px;font-weight:300;font-size:1.4em">{{ capitalize(reviewers[$index].firstName) }}</p>
	           		</div>
	           		<div class="col-md-8" style="padding-left:0px">
	           			<p style="font-weight:300;font-size:1.2em">
	           				"{{ review.description }}"
	           			</p>
	           			<p style="font-weight:300;font-size:1.2em">
	           				From {{ capitalize(reviewers[$index].city) }} - {{ formattedReviewData(review.timestamp) }}
	           			</p>
	           		</div>	
		       </div>
		       <hr/>
	       </div>

		</div>
   </div>
  </div>
 </div>
</div>			


    
    <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div class="page">
      {{ nav }}
      

      <!-- Start header Section-->
      <section style="background-image: url('/site/img/slides/slide2.jpg');background-size: cover;" class="header-section">
        <div class="section-shade sep-top-2x" style="padding-bottom:1.5em">
          <div class="container">
            <div class="section-title upper text-center">
              <h2 class="light small-space" style="font-weight:600">{{ capitalize(profile.firstName) }},&nbsp;{{ profile.age }}</h2>
              <img style="width:240px;height:240px;border:2px solid #ddd;border-radius:120px" src="/site/images/{{ profile.image }}?crop=256"/><br /><br />
              <p style="text-transform:none;color:#fff;font-weight:300;font-size:1.2em;margin-top:18px">
            	<a style="color:#1abc9c" data-toggle="modal" data-target="#reviewModal" href="#">
            	  <i class="fa fa-smile-o fa-lg"></i>&nbsp;&nbsp; 
            	  Gratitude Notes
            	</a>
              </p>
              
              <div ng-if="profile.type=='traveler'">
              	<img style="height:60px;float:right" src="/site/img/local-icon-new-dark.png"/>
              	<img style="height:60px;float:right" src="/site/img/traveler-icon.png"/>
              </div>
              <div ng-if="profile.type=='local'">
              	<img style="height:60px;float:right" src="/site/img/local-icon-new.png"/>
              	<img style="height:60px;float:right" src="/site/img/traveler-icon-dark.png"/>
              </div>
              
            </div>
          </div>
        </div>
      </section>
      <!-- End header Section-->
      
      
      <!-- Start Contact section-->
		<div class="container" style="padding-bottom:10px;padding-top:10px;background-image:url('/site/img/bogota.JPG');width:100%;min-height:1000px">
		  <div class="col-md-12"style="min-height:180px;margin-left:auto;margin-right:auto;background:rgba(0,0,0,.8);padding-top:10px">
		  	
		  	<div class="col-md-3" style="margin-left:15%;">
           		<p style="font-weight:400;font-size:50px">{{ profile.points }}<span style="padding-left:3px;font-size:18px">points</span></p>
	        </div>
		  	
		  	<div class="col-md-4" style="margin-top:1%;text-align:left">
		  		<table>
		  			<tbody>
		  			
              <tr>
                <td><i class="fa fa-map-marker fa-lg"></i></td>
                <td>
                  <p style="font-weight:300;font-size:1.2em">
                        &nbsp;{{ capitalize(profile.homeCity) }},&nbsp;{{ capitalize(profile.homeCountry) }}
                  </p>
                </td>
              </tr>

              <tr>
                <td style="padding-top:10px"><i class="fa fa-building fa-lg"></i></td>
                <td style="padding-top:10px">
                  <p style="font-weight:300;font-size:1.2em">
                        &nbsp;{{ profile.profession }}
                      </p>
                    </td>
              </tr>

		  				<tr>
		  					<td style="padding-top:10px"><i class="fa fa-globe fa-lg"></i></td>
		  					<td style="padding-top:10px">
		  						<p style="font-weight:300;font-size:1.2em">
            						&nbsp;{{ languages }}
            					</p>
            				</td>
		  				</tr>

              <tr>
                <td style="padding-top:10px">
                  <i class="fa fa-home fa-lg"></i>
                </td>

                <td style="padding-top:10px">
                  <p style="font-weight:300;font-size:1.2em">
                        &nbsp;{{ capitalize(profile.city) }},&nbsp;{{ capitalize(profile.country) }}
                  </p>
                </td>
              </tr>

		  			</tbody>
		  		</table>
	          </div>
	          
	          <div class="col-md-3" style="margin-top:1%;">
	          	<a ng-click="checkLogin()" href="#" style="color:#1abc9c" data-toggle="modal" data-target="#messageModal">
	          	<div style="padding:5px 20px 5px 20px;border:1px solid #ddd;width:80px;border-radius:5px">
		          	<i class="fa fa-comments fa-3x"></i>
		          	<h6 style="margin-left:2px;color:#75ACFF">Chat</h6>
	          	</div>
	          	</a>
	          	<br/>
	          </div>  
		  </div>

		  <div class="col-md-12 darkBox">
            <p style="width:50%;margin-left:auto;margin-right:auto;font-weight:300;font-size:1.2em;">
              <span ng-repeat="hashtag in profile.hashtags track by $index">{{ hashtag }}&nbsp;&nbsp;</span>
              <span>#ILoveGoodMusic&AGoogWine&nbsp;&nbsp;</span>
          	</p>
      	  </div>

		  <div class="col-md-12 darkBox">
		  	<p style="width:50%;margin-left:auto;margin-right:auto;font-weight:300;font-size:1.2em;">
           		People don't know I'm good at <span style="color:#75ACFF">{{ profile.bio[0] }}</span>.
           		I could talk all day about <span style="color:#75ACFF">{{ profile.bio[1] }}</span>. 
           		My favorite place is <span style="color:#75ACFF;">{{ profile.bio[2] }}</span>.
                I want to learn to <span style="color:#75ACFF;">{{ profile.bio[3] }}</span>.
                And <span style="color:#75ACFF">{{ profile.bio[4] }}</span>.
        	</p>
		  </div>
		  
		
		  
             	<div class="col-md-6" style="padding-right:30px;background-size:cover;margin-top:20px">
             	  <div class="row">
	                <div style="width:100%;height:90%;background:rgba(255, 255, 255, 0.93);margin-left:auto;margin-right:auto;">
	                  <div style="height:50px;background:#f1f1f1;text-align:center;padding-top:4px;">
	                    <h4 style="color:#222">{{ (profile.type == "local") ? "My Experiences" : "Ask Me About..." }}</h4>
	                  </div>
	                  <br />
	                  <div class="insightsBox" style="height:380px;overflow:auto">
	                  	<a ng-repeat="insight in profile.insights track by $index" data-toggle="modal" data-target="#insightModal" href="#">
	                  		<div ng-click="viewInsight($index)" style="margin-left:auto;margin-right:auto;width:80%;height:100px;background:url(/site/img/insights/tiles/food.jpg)">
	                  			<div style="background:rgba(0, 0, 0, .6);height:100px;text-align:left;">
		                  			<img style="float:left;margin-right:15px;" src="/site/img/insights/food-icon.png"/>
		                  			<br/>
		                  			<p style="line-height:1.4em;padding-top:10px;margin-left:20px;font-weight:300;font-size:22px;color:white;font-family: 'Open Sans', sans-serif;">
		                  				{{ insight.description }}
		                  			</p>
	                  			</div>
	                  		</div>
	                  		<br/>
	                  	</a>
	                </div>
	                
	                  <br /><br /><br />
	                </div>
	               </div>
              </div>
              
            <div class="col-md-6" style="padding-left:30px;background-size:cover;margin-top:20px">
              	    <div class="row">
		                <div style="width:100%;height:90%;background:rgba(255, 255, 255, 0.93);margin-left:auto;margin-right:auto;">
		                  <div style="height:50px;background:#f1f1f1;text-align:center;padding-top:4px;">
		                    <h4 style="color:#222">My Dreams</h4>
		                  </div>
		                  <br />
		                  <div class="insightsBox" style="height:380px;overflow:auto">
		                  	<a ng-repeat="dream in profile.dreams track by $index" data-toggle="modal" data-target="#dreamModal" href="#">
		                  		<div ng-click="viewDream($index)" style="margin-left:auto;margin-right:auto;width:80%;height:100px;background:url(/site/img/insights/tiles/{{ dream.title }}.jpg)">
		                  			<div ng-click="viewDream($index)" style="background:rgba(0, 0, 0, .6);height:100px;text-align:left;">
			                  			<img style="float:left;margin-right:15px;" src="/site/img/insights/{{ dream.title }}-icon.png"/>
			                  			<br/>
			                  			<p style="line-height:1.4em;padding-top:10px;margin-left:20px;font-weight:300;font-size:22px;color:white;font-family: 'Open Sans', sans-serif;">
			                  				{{ dream.description }}
			                  			</p>
		                  			</div>
		                  		</div>
		                  		<br/>
		                  	</a>
		                  </div>
		                    <br /><br /><br />
		                </div>
		                </div>
	                 </div>

		  <div class="col-md-12" style="padding-bottom:30px;min-height:180px;margin-left:auto;margin-right:auto;background:rgba(0,0,0,.8);margin-top:30px;margin-bottom:30px;">
            <p ng-if="endorser!=null" style="margin-top:5px;font-weight:300;font-size:1.4em;">Endorsed by {{ capitalize(endorser.firstName) }}</p>
            <div ng-if="endorser!=null" class="col-md-2" style="width:130px;">
              <a href="profile/{{ endorser.id }}"><img style="height:110px;width:110px;border:1px solid #ddd;border-radius:55px"src="/site/images/{{ endorser.image }}?crop=256"/></a>
            </div>
            <div ng-if="endorser!=null" class="col-md-6" style="width:85%;" >
              <p style="font-weight:300;font-size:1.2em;">
	             {{ profile.endorsements[0].description }}
              </p>
            </div>
		  </div>


      </div>
            
       
      <!-- End Contact section-->
      {{ footer }}
     
    </div>
      
    
    {{ scripts }}
    <script src="/site/js/stripeHandler.js"></script>
    
    
  </body>
</html>
