<!DOCTYPE html>
<html class="no-js">
  {{ head }}
  
  
  <body ng-app="Terranga" ng-controller="ProfileController" ng-init="init()">
<!-- Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="width:60%" class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><span style="margin-right:5px;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div style="background:rgba(249, 249, 249, 0.96);border:1px solid #ddd;padding:0px;min-height:500px;">
          <div style="text-align:center;">
            <br/>
            	<h4 style="margin-top:0px">Messages</h4>
          </div>
          <br/>
		<div style="height:400px;width:90%;background:rgba(0,179,255,0.2);margin-left:auto;margin-right:auto;">
	
		<div id="messages" style="overflow:auto;position:relative;top:5%;background:rgba(255,255,255,.8);height:300px;width:95%;margin-left:auto;margin-right:auto;">
			<p ng-repeat="message in messages track by $index" style="margin-left:1%">
				<span ng-if="message.senderID==currentUser.id" style="color:#1abc9c;font-weight:100;font-size:12px">{{ capitalize(currentUser.firstName) }}</span>
				<span ng-if="message.senderID==profile.id" style="color:#1abc9c;font-weight:100;font-size:12px">{{ capitalize(profile.firstName) }}</span>
				<span style="color:#1abc9c;font-weight:100;font-size:12px"> | {{ formattedDate(message.timestamp) }}</span><br/>
				{{ message.body }}
			</p>
		</div>
	
		<div style="position:relative;top:13%;height:40px;">
			<input ng-model="newMessage.body" type="text" placeholder=" Type here" style="margin-left:1%;height:40px;width:82%"/>
			<button ng-click="sendMessage()" style="margin-right:1%;width:15%;height:40px;float:right;">Send</button>
		</div>
	
	</div>
        </div>
    </div>
  </div>
</div>			

<!-- Insights Modal -->
<div class="modal fade" id="insightModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="width:40%" class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><span style="margin-right:5px;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div style="background:rgba(249, 249, 249, 0.96);border:1px solid #ddd;padding:0px;min-height:400px;">
          <div style="text-align:center;">
            <br/>
            	<h4 style="margin-top:0px">Join Me...</h4>
          </div>
          <br/>
		<div style="height:300px;width:90%;background:rgba(0,179,255,0.2);margin-left:auto;margin-right:auto;">
			<button class="close" style="float:right;margin-top:25%;margin-right:15px">></button>
			<div style="text-align:center;overflow:auto;position:relative;top:5%;background:rgba(255,255,255,.8);height:50px;width:85%;margin-left:auto;margin-right:1.8%;">
				<h5>
					"to play pickup soccer"
				</h5>
			</div>
			<div style="margin-top:15px;text-align:center;position:relative;top:5%;background:rgba(255,255,255,.8);height:160px;width:85%;margin-left:auto;margin-right:auto;">
				<div style="padding-top:5%;width:65%;text-align:center;margin-left:auto;margin-right:auto;">
					<h6>
						Every Sunday I play soccer with a group of guys and girls, it's really fun. I love to play futbol
						and am happy to have people join. Message me if you're interested!
					</h6>
				</div>
			</div>
			<div style="margin-top:25px;margin-left:auto;margin-right:auto;text-align:center">
				<button data-dismiss="modal" data-toggle="modal" data-target="#messageModal" style="margin-left:auto;margin-right:auto;width:15%;height:40px;">Chat</button>
			</div>
	</div>
   </div>
  </div>
 </div>
</div>			


<!-- Dream Modal -->
<div class="modal fade" id="dreamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="width:40%" class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><span style="margin-right:5px;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div style="background:rgba(249, 249, 249, 0.96);border:1px solid #ddd;padding:0px;min-height:500px;">
          <div style="text-align:center;">
            <br/>
            	<h4 style="margin-top:0px">My Dream is</h4>
          </div>
          <br/>
		<div style="height:400px;width:90%;background:rgba(0,179,255,0.2);margin-left:auto;margin-right:auto;">
			<button class="close" style="float:right;margin-top:25%;margin-right:15px">></button>
			<div style="text-align:center;overflow:auto;position:relative;top:6%;background:rgba(255,255,255,.8);width:85%;margin-left:auto;margin-right:1.8%;">
				<h5>
					"to travel around South America"
				</h5>
			</div>
			<div style="margin-top:15px;text-align:center;position:relative;top:5%;background:rgba(255,255,255,.8);height:160px;width:85%;margin-left:auto;margin-right:auto;">
				<div style="padding-top:2%;width:65%;text-align:center;margin-left:auto;margin-right:auto;">
					<h6>
						I dream about visiting different countries for a period of time enough to learn the local language
						and get familiar with other cultures. I love learning different languages, right now I'm taking Korean!
						So it would be awesome to travel around my region and meet people from all over the world.
					</h6>
				</div>
			</div>
			<div class="sep-top-xs" style="margin-top:25px;margin-left:auto;margin-right:auto;text-align:center;width:80%">
				<div class="progress minimal">
                  <div role="progressbar" aria-valuenow="1200" aria-valuemin="0" aria-valuemax="2000" style="width: 70%;" class="progress-bar">$1200 raised</div>
                </div>
                <span class="indicator-line"></span><span class="pull-left">$0</span><span style="position: absolute;left: 0;right: 0;text-align: center;">4 people contributed</span><span class="pull-right">$2000</span>
			
				<button type="button" class="btn btn-primary btn-bordered" data-dismiss="modal" style="margin-top:40px;margin-left:auto;margin-right:auto;height:40px;">Contribute</button>
			</div>
		</div>
	   </div>
	  </div>
	 </div>
	</div>		

<!-- Review Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="width:40%" class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><span style="margin-right:5px;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div style="background:rgba(249, 249, 249, 0.96);border:1px solid #ddd;padding:0px;min-height:500px;">
          <div style="text-align:center;">
            <br/>
            	<h4 style="margin-top:0px;margin-bottom:15px">Reviews</h4>
          </div>
		<div style="overflow:auto;height:400px;width:90%;background:rgba(0,179,255,0.2);margin-left:auto;margin-right:auto;">
			<div class="row" style="padding-top:20px;padding-left:10px">
           		<div class="col-md-4" style="padding-right:0px">
            		<img style="height:110px;width:110px;border:1px solid #ddd;border-radius:55px"src="/site/img/jose.JPG"/>
            		<p style="margin-top:5px;margin-left:30px;font-weight:300;font-size:1.4em">Jose</p>
           		</div>
           		<div class="col-md-8" style="padding-left:0px">
           			<p style="font-weight:300;font-size:1.2em">
           				"Jose is really awesome. He has such a love for Medellin and Colombia and truly encompasses Terranga values."
           			</p>
           			<p style="font-weight:300;font-size:1.2em">
           				From NYC - August 2015
           			</p>
           		</div>	
	       </div>
	       <hr/>
	       <div class="row" style="padding-top:20px;padding-left:10px">
           		<div class="col-md-4" style="padding-right:0px">
            		<img style="height:110px;width:110px;border:1px solid #ddd;border-radius:55px"src="/site/img/jose.JPG"/>
            		<p style="margin-top:5px;margin-left:30px;font-weight:300;font-size:1.4em">Jose</p>
           		</div>
           		<div class="col-md-8" style="padding-left:0px">
           			<p style="font-weight:300;font-size:1.2em">
           				"Jose is really awesome. He has such a love for Medellin and Colombia and truly encompasses Terranga values."
           			</p>
           			<p style="font-weight:300;font-size:1.2em">
           				From NYC - August 2015
           			</p>
           		</div>	
	       </div>
	       <hr/>
	       <div class="row" style="padding-top:20px;padding-left:10px">
           		<div class="col-md-4" style="padding-right:0px">
            		<img style="height:110px;width:110px;border:1px solid #ddd;border-radius:55px"src="/site/img/jose.JPG"/>
            		<p style="margin-top:5px;margin-left:30px;font-weight:300;font-size:1.4em">Jose</p>
           		</div>
           		<div class="col-md-8" style="padding-left:0px"s>
           			<p style="font-weight:300;font-size:1.2em">
           				"Jose is really awesome. He has such a love for Medellin and Colombia and truly encompasses Terranga values."
           			</p>
           			<p style="font-weight:300;font-size:1.2em">
           				From NYC - August 2015
           			</p>
           		</div>	
	       </div>
		</div>
   </div>
  </div>
 </div>
</div>			


    
    <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div class="page">
      {{ nav }}
      <!-- Start header Section-->
      <section style="background-image: url('/site/img/slides/slide2.jpg');" class="header-section fading-title parallax">
        <div class="section-shade sep-top-2x" style="padding-bottom:1.5em">
          <div class="container">
            <div class="section-title upper text-center">
              <h2 class="light small-space" style="font-weight:600">{{ capitalize(profile.firstName) }},&nbsp;{{ profile.age }}</h2>
              <img style="width:240px;height:240px;border:2px solid #ddd;" src="/site/images/{{ profile.image }}?crop=256"/><br /><br />
              <a data-toggle="modal" data-target="#reviewModal">
	              <i class="fa fa-star fa-lg"></i>&nbsp&nbsp<i class="fa fa-star fa-lg"></i>&nbsp
	              <i class="fa fa-star fa-lg"></i>&nbsp&nbsp<i class="fa fa-star fa-lg"></i>&nbsp
	              <i class="fa fa-star-half-o fa-lg"></i>
	          </a>
              <a data-toggle="modal" data-target="#reviewModal"><p style="text-transform:none;color:white;margin-top:5px;font-weight:300;font-size:1.2em">4 reviews</p></a>
            </div>
          </div>
        </div>
      </section>
      <!-- End header Section-->
      
      
      <!-- Start Contact section-->
		<div class="container" style="padding-top:10px;background-image:url('/site/img/bogota.JPG');width:100%;min-height:1000px">
		  <div class="col-md-12"style="height:180px;margin-left:auto;margin-right:auto;background:rgba(0,0,0,.8);padding-top:10px">
		  	
		  	<div class="col-md-3" style="margin-left:15%;">
           		<p style="font-weight:400;font-size:50px">15&nbsp<span style="font-size:18px">points</span></p>
	        </div>
		  	
		  	<div class="col-md-4" style="margin-top:1%;">
		  		<table>
		  			<tbody>
		  				<tr>
		  					<td><i class="fa fa-home fa-lg"></i></td>
		  					<td>
		  						<p style="font-weight:300;font-size:1.2em">
			            			&nbspBogot&aacute, Colombia
            					</p>
            				</td>
		  				</tr>
		  				<tr>
		  					<td style="padding-top:10px"><i style="margin-left:2px"class="fa fa-map-marker fa-lg"></i></td>
		  					<td style="padding-top:10px">
		  						<p style="font-weight:300;font-size:1.2em">
            						&nbspSanta Marta, Colombia
            					</p>
            				</td>
		  				</tr>
		  				<tr>
		  					<td style="padding-top:10px"><i class="fa fa-globe fa-lg"></i></td>
		  					<td style="padding-top:10px">
		  						<p style="font-weight:300;font-size:1.2em">
            						&nbspEnglish, Spanish, Portuguese
            					</p>
            				</td>
		  				</tr>
		  				<tr>
		  					<td style="padding-top:10px"><i class="fa fa-building fa-lg"></i></td>
		  					<td style="padding-top:10px">
		  						<p style="font-weight:300;font-size:1.2em">
            						&nbspChief Economist @ Lehman Brothers
            					</p>
            				</td>
		  				</tr>
		  			</tbody>
		  		</table>
	          </div>
	          
	          <div class="col-md-2" style="margin-top:1%;">
	          <a data-toggle="modal" data-target="#messageModal"><i class="fa fa-comments fa-3x"></i></a>
	        </div>
	            
	            
		  </div>
		  <div class="col-md-12"style="min-height:70px;margin-left:auto;margin-right:auto;background:rgba(0,0,0,.8);margin-top:10px;text-align:center;">
		  	<p style="width:50%;margin-left:auto;margin-right:auto;font-weight:300;font-size:1.2em;margin-top:10px;">
           		My name is <span class="text-primary">Jose</span>. My most unique hobby is <span class="text-primary">underwater rugby</span>.
           		On my free days I <span class="text-primary">go hiking</span>. 
           		If I were an animal I'd be <span class="text-primary">a baby sloth</span>.
            </p>
		  </div>
		  
		
		  
             	<div class="col-md-6" style="padding-right:30px;background-size:cover;margin-top:20px">
             	  <div class="row">
	                <div style="width:100%;height:90%;background:rgba(255, 255, 255, 0.93);margin-left:auto;margin-right:auto;">
	                  <div style="height:50px;background:#f1f1f1;text-align:center;padding-top:4px;">
	                    <h4 style="color:#222">Join me</h4>
	                  </div>
	                  <br />
	                  <div class="insightsBox">
	                  <a data-toggle="modal" data-target="#insightModal">
	                  	<div style="margin-left:auto;margin-right:auto;width:80%;height:100px;background:url(/site/img/slides/bmx.jpg)">
	                  		<div style="background:rgba(0, 0, 0, .6);height:100px;text-align:left;">
	                  			<img style="float:left;margin-right:15px;" src="/site/img/soccer.png"/>
	                  			<br/>
	                  			<p style="line-height:1.4em;padding-top:10px;margin-left:20px;font-weight:300;font-size:22px;color:white;font-family: 'Open Sans', sans-serif;">
	                  				to play pickup soccer...
	                  			</p>
	                  		</div>
	                  	</div>
	                  	</a>
	                  	<br/>
	                  	<div style="margin-left:auto;margin-right:auto;width:80%;height:100px;background:url(/site/img/slides/nightlife.jpg)">
	                  		<div style="background:rgba(0, 0, 0, .6);height:100px;text-align:left;">
	                  			<img style="float:left;margin-right:15px;" src="/site/img/food.png"/>
	                  			<br/>
	                  			<p style="line-height:1.4em;padding-top:10px;margin-left:20px;font-weight:300;font-size:22px;color:white;font-family: 'Open Sans', sans-serif;">
	                  				to my favorite exotic fruit stand
	                  			</p>
	                  		</div>
	                  	</div>
	                  	<br/>
	                  	<div style="margin-left:auto;margin-right:auto;width:80%;height:100px;background:url(/site/img/slides/food.jpg)">
	                  		<div style="background:rgba(0, 0, 0, .6);height:100px;text-align:left;">
	                  			<img style="float:left;margin-right:15px;" src="/site/img/rugby.png"/>
	                  			<p style="line-height:1.4em;padding-top:15px;margin-left:20px;font-weight:300;font-size:22px;color:white;font-family: 'Open Sans', sans-serif;">
	                  				to my underwater rugby practice... yes, it exists
	                  			</p>
	                  		</div>
	                  	</div>
	                  </div>
	                  <br /><br /><br />
	                </div>
	              </div>
	              <div class="row">
	              	<div class="col-md-6"style="height:180px;width:100%;background:rgba(0,0,0,.8);margin-top:20px;margin-left:auto;margin-right:auto;">
	              		<div class="col-md-4">
		              		<p style="margin-top:5px;font-weight:300;font-size:1.4em">Endorsed by Jose</p>
		              		<img style="height:110px;width:110px;border:1px solid #ddd;border-radius:55px"src="/site/img/jose.JPG"/>
	              		</div>
	              		<div class="col-md-6">
	              			<p style="margin-top:40px;font-weight:300;font-size:1.2em">
	              				"Jose is really awesome. He has such a love for Medellin and Colombia and truly encompasses Terranga values."
	              			</p>
	              		</div>
	              	</div>
	              </div>
	              
            </div>
              
              
              	    <div class="col-md-6" style="padding-left:30px;background-size:cover;margin-top:20px">
              	    <div class="row">
		                <div style="width:100%;height:90%;background:rgba(255, 255, 255, 0.93);margin-left:auto;margin-right:auto;">
		                  <div style="height:50px;background:#f1f1f1;text-align:center;padding-top:4px;">
		                    <h4 style="color:#222">My Dream Is...</h4>
		                  </div>
		                  <br />
		                  <div class="insightsBox">
		                  <a data-toggle="modal" data-target="#dreamModal">
		                  	<div style="margin-left:auto;margin-right:auto;width:80%;height:100px;background:url(/site/img/slides/bmx.jpg)">
		                  		<div style="background:rgba(0, 0, 0, .6);height:100px;text-align:left;">
		                  			<img style="float:left;margin-right:15px;" src="/site/img/rugby.png"/>
		                  			<br/>
	                  			<p style="line-height:1.4em;padding-top:10px;margin-left:20px;font-weight:300;font-size:22px;color:white;font-family: 'Open Sans', sans-serif;">
	                  				to travel to South America...
	                  			</p>
		                  		</div>
		                  	</div>
		                  	</a>
		                  	<br/>
		                  	<div style="margin-left:auto;margin-right:auto;width:80%;height:100px;background:url(/site/img/slides/bmx.jpg)">
		                  		<div style="background:rgba(0, 0, 0, .6);height:100px;text-align:left;">
		                  			<img style="float:left;margin-right:15px;" src="/site/img/rugby.png"/>
		                  			<br/>
	                  			<p style="line-height:1.4em;padding-top:10px;margin-left:20px;font-weight:300;font-size:22px;color:white;font-family: 'Open Sans', sans-serif;">
	                  				to study abroad...
	                  			</p>
		                  		</div>
		                  	</div>
		                  	<br/>
		                  	<div style="margin-left:auto;margin-right:auto;width:80%;height:100px;background:url(/site/img/slides/bmx.jpg)">
		                  		<div style="background:rgba(0, 0, 0, .6);height:100px;text-align:left;">
		                  			<img style="float:left;margin-right:15px;" src="/site/img/rugby.png"/>
		                  			<br/>
	                  			<p style="line-height:1.4em;padding-top:10px;margin-left:20px;font-weight:300;font-size:22px;color:white;font-family: 'Open Sans', sans-serif;">
	                  				to study abroad...
	                  			</p>
		                  		</div>
		                  	</div>
		                  </div>
		                  <br /><br /><br />
		                </div>
		             </div>
		             <div class="row">
	              	<div class="col-md-12"style="height:180px;background:rgba(0,0,0,.8);margin-top:20px">
	              		<p style="margin-top:30px;font-weight:300;font-size:1.2em">
	              			#HistoryBuff&nbsp;&nbsp;#Backpacker&nbsp;&nbsp;#Joker&nbsp;&nbsp;#Smoker&nbsp;&nbsp;#MidnightToker&nbsp;&nbsp;#EDMHead&nbsp;&nbsp;
	              			#Runner&nbsp;&nbsp;#MountainBiker&nbsp;&nbsp;#smile&nbsp;&nbsp;#follow4follow&nbsp;&nbsp;#like4like&nbsp;&nbsp;#look&nbsp;&nbsp;#instalike
	              			&nbsp;&nbsp;#picoftheday&nbsp;&nbsp;#food&nbsp;&nbsp;#instadaily&nbsp;&nbsp;#instafollow&nbsp;&nbsp;#followme&nbsp;&nbsp;#instagood&nbsp;&nbsp;
	              			#bestoftheday&nbsp;&nbsp;#instacool&nbsp;&nbsp;#instago&nbsp;&nbsp;#all_shots&nbsp;&nbsp;#follow&nbsp;&nbsp;#webstagram&nbsp;&nbsp;#colorful&nbsp;&nbsp;
	              			#style&nbsp;&nbsp;#swag
	              		</p>
	              	</div>
	              </div>
	            </div>
            </div>
            
       
      <!-- End Contact section-->
     
      {{ footer }}

            </div>
      
    {{ scripts }}
  </body>
</html>