<!DOCTYPE html>
<html class="no-js">
  {{ head }}
  
  
  <body ng-app="Terranga" ng-controller="ProfileController" ng-init="init()">
    <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page">
      {{ nav }}
      <!-- Start header Section-->
      <section style="background-image: url('img/slides/slide6.jpg');" class="header-section fading-title parallax">
        <div class="section-shade sep-top-3x sep-bottom-2x">
          <div class="container">
            <div class="section-title upper text-center">
              <h2 class="light small-space">Your&nbsp;<span class="text-primary">Profile</span></h2>
              <p class="lead light">Press update to save changes.</p>
              <img style="background-image:url('/site/img/logo_square_icon.png');width:80px;height:80px;border-radius:40px;border:1px solid #ddd;" src='/site/images/{{ currentUser.image }}?crop=256'/>
            </div>
          </div>
        </div>
      </section>
      <!-- End header Section-->
      
      
      <!-- Start Contact section-->
		<div class="container" style="padding-top:20px;background-image:url('/site/img/slides/slide3.jpg');width:100%">
          <div class="col-md-4" style="background:#f9f9f9;border:1px solid #ddd;padding:0px;min-height:950px;">
            <div style="text-align:center;">
              <br/>
              <h4 style="margin-top:0px">Manage Profile</h4>
              <h6 style="margin-top:15px">Profile Picture</h6>
				<div ng-file-drop="onFileSelect($files, 'image', 'currentUser')" style="margin-top:20px;margin-left:auto;margin-right:auto;height:90px; width:90%;background:white;border:1px solid #ddd">
					<br/>
					<p>Drop image file here to update profile picture.</p>
               </div>                
              <br/><hr/>
            </div>
            <br/>
            <div style="padding-left:30px;padding-right:30px">
	            <label class="upper">First Name</label>
	            <input ng-model="currentUser.firstName" type="text" placeholder="First name" class="form-control input-lg">
	            <label class="upper" style="margin-top:10px">Last Name</label>
                <input ng-model="currentUser.lastName" type="text" placeholder="Last name" class="form-control input-lg">
                <label class="upper" style="margin-top:10px">Age</label>
                <select class="form-control input-lg" ng-model="currentUser.age" >
                	<option ng-repeat="age in ages track by $index" value= "{{ age }}" >{{ age }}</option>
                </select>
                <label class="upper" style="margin-top:10px">City</label>
                <input ng-model="currentUser.city" type="text" placeholder="City" class="form-control input-lg">
                <label class="upper" style="margin-top:10px">Country</label>
                <select class="form-control input-lg" ng-model="currentUser.country" >
                	<option ng-repeat="country in countries track by $index" value= "{{ country }}" >{{ capitalize(country) }}</option>
                </select>
                <label class="upper" style="margin-top:10px">Phone</label>
                <input ng-model="currentUser.phone" type="text" placeholder="Phone" class="form-control input-lg">
                <label class="upper" style="margin-top:10px">Email</label>
                <input ng-model="currentUser.email" type="text" placeholder="Email" class="form-control input-lg">
                <label class="upper" style="margin-top:10px">Password</label>
                <input ng-model="currentUser.password" type="password" placeholder="Password" class="form-control input-lg">
            </div>
          </div>
            
            
            
            <div class="col-md-8 sep-top-2x" style="background-size:cover;padding-left:0px">
              
                <div style="width:90%;height:90%;background:rgba(255, 255, 255, 0.97);margin-left:auto;margin-right:auto;">
                  <div style="height:80px;background:#f1f1f1;text-align:center;padding-top:18px;border:1px solid #ddd">
                    <h4 style="color:#444">Bio Details</h4>
                  </div>
                  <br />
                  <div>
                  	<table style="margin-left:auto;margin-right:auto">
                  		<tbody>
                  			<tr>
                  				<td style="padding-right:20px;width:300px">
                  					<label class="upper">Bio</label>
	                  				<textarea ng-model="currentUser.bio" placeholder="Bio" rows="6" class="form-control input-lg"></textarea>
                  				</td>
                  				<td style="padding-right:20px;width:300px">
	                  				<label class="upper">Dream</label>
		                  			<textarea placeholder="Dream" rows="6" class="form-control input-lg"></textarea>
	                  			</td>
                  			</tr>
                  		</tbody>
                  	</table>
                  </div>
                  
                  <br /><br /><br />

                
                </div>
              
            </div>
            </div>
            
       
      <!-- End Contact section-->
     
      {{ footer }}
      
    {{ scripts }}
  </body>
</html>