      <footer id="footer">
        <div class="inner sep-bottom-xs">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="widget sep-top-lg">
                	<img src="/site/img/logo_diamond.png" style="height:100px;float:left">
                	<small style="margin-left:110px"class="sep-bottom-md">
	                  	Our name comes Senegal. In Wolof, Teranga means &quothospitality&quot however, it's more than just a word, 
	                  	&quotit&#39s a way of life,&quot capturing the spirit of camaraderie, acceptance and greater understanding that embodies Terranga.
				  	</small>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="widget sep-top-lg">
	              <h6 class="upper widget-title">Connect With Us</h6>
	                 <ul style="padding-left:15%;"class="social-icon sep-top-xs">
	                    <li><a href="https://instagram.com/terranga_app/" class="fa fa-instagram fa-lg"></a></li>
	                    <li><a href="https://twitter.com/terrangaapp" class="fa fa-twitter fa-lg"></a></li>
	                  </ul>
	             </div>
	           </div>
              <div class="col-md-2 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Blog</h6>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Contact Us</h6>
                  <ul class="widget-address sep-top-xs">
                    <li><a href="mailto:info@terranga.org"><i class="fa fa-envelope-o fa-lg"></i><small>info@terranga.org</small></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright sep-top-xs sep-bottom-xs">
          <div class="container">
            <div class="row">
              <div class="col-md-4" style="text-align:center">
              	<small>Copyright 2015 &copy; Terranga</small>
              </div>
              <div class="col-md-4" style="text-align:center">
              	<small>Terms</small>
              </div>
              <div class="col-md-4"style="text-align:center">
              	<small>FAQ</small>
              </div>
            </div>
          </div>
        </div>
      </footer>
